html, body {
  background: #7C2D12;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding:50px;
  text-align: center;
  box-sizing: border-box;

}
#container{
  text-align:center;  
}
#header {
  width: 100%;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

#logo {
  font-family: Bebas Neue;
  font-size: 49.77px;
  color: #FB923C;
}
#hora {
  color: #FEF08A;
  font-family: "DM Sans", sans-serif;
  font-size:59.72px;
}


#blocousername{
  display:inline-flex;
  align-items:  center;
  gap:20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 200px;
  background: #431407;
  padding: 0px 30px 0px 30px;
  min-width:30%;
}

h1 {
  color: #FDE68A;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 31;
  font-style: normal;
}
#emoji {
  font-size: 70px;
  }

h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 36,91px;
  font-style: normal;
  color:#FDE68A;
}


#botao_teimoso{
  position: fixed;
  display:flex;
  padding: 10px;
  background:#84CC16;
  bottom:40px;
  right: 15px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500px;
  font-size:18px;
  border-radius: 36px;
  -webkit-border-radius:36px;
  -moz-border-radius:36px;
  border:0px;
}
#botao_teimoso:hover{ 
  background:#538509;
  
}